
<style>

        .wrapper {
            height: 200px;
            width: 1512px;
            border: 2px solid black;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }

        .button-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
        }

        .carousel {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            display: flex;
            position: absolute;
            left: 0;
            transition: all 1s ease;
        }

        .card {
            background: black;
            min-width: 200px;
            height: 200px;
            margin-right: 1rem;
            display: inline-block;
        }
    </style>
</head>
  <div>
    <h1>&nbsp;&nbsp;&nbsp;Bestsellers</h1>
    <div class="wrapper">
        <ul class="carousel" data-target="carousel">
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
            <li class="card" data-target="card"></li>
        </ul>
        <div class="button-wrapper">
            <button data-action="slideLeft"><i class="fa fa-caret-left"></i></button>
            <button data-action="slideRight"><i class="fa fa-caret-right"></i></button>
        </div>
    </div>
  </div>  
    <script>
        // Select the carousel you'll need to manipulate and the buttons you'll add events to
        const carousel = document.querySelector("[data-target='carousel']");
        const card = carousel.querySelector("[data-target='card']");
        const leftButton = document.querySelector("[data-action='slideLeft']");
        const rightButton = document.querySelector("[data-action='slideRight']");

        // Prepare to limit the direction in which the carousel can slide, 
        // and to control how much the carousel advances by each time.
        // In order to slide the carousel so that only three cards are perfectly visible each time,
        // you need to know the carousel width, and the margin placed on a given card in the carousel
        const carouselWidth = carousel.offsetWidth;
        const cardStyle = card.currentStyle || window.getComputedStyle(card)
        const cardMarginRight = Number(cardStyle.marginRight.match(/\d+/g)[0]);

        // Count the number of total cards you have
        const cardCount = carousel.querySelectorAll("[data-target='card']").length;

        // Define an offset property to dynamically update by clicking the button controls
        // as well as a maxX property so the carousel knows when to stop at the upper limit
        let offset = 0;
        const maxX = -((cardCount / 3) * carouselWidth +
            (cardMarginRight * (cardCount / 3)) -
            carouselWidth - cardMarginRight);


        // Add the click events
        leftButton.addEventListener("click", function () {
            if (offset !== 0) {
                offset += carouselWidth + cardMarginRight;
                carousel.style.transform = `translateX(${offset}px)`;
            }
        })

        rightButton.addEventListener("click", function () {
            if (offset !== maxX) {
                offset -= carouselWidth + cardMarginRight;
                carousel.style.transform = `translateX(${offset}px)`;
            }
        })
    </script>